:root {
  overflow-x: hidden;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.menu {
  display: flex;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  background-color: black;
  width: fit-content;
  text-align: center;
  gap: 5px;
}

.tile {
  background-color: white;
  width: 75px;
  height: 75px;
  font-size: 30px;
  line-height: 50px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer */

footer {
  height: 55px;
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: #0D1117;
}

.made-by {
  color: white;
  font-size: 15px;
  font-family: cursive;
  margin: 0 auto;
}

.github-link {
  position: relative;
  right: 37.5px;
}

.github-icon {
  height: 27.5px;
}